/* LOADER */

.loader {
    position: relative;
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #001f3f;
}

.first,
.second {
    width: 20px;
    height: 3px;
    position: absolute
}

.first {
    top: 48%;
    -webkit-animation: down_anim 1.5s infinite ease-in-out;
    animation: down_anim 1.5s infinite ease-in-out;
    background-color: #2ECC40;
}

.second {
    top: 48%;
    -webkit-animation: up_anim 1.5s infinite ease-in-out;
    animation: up_anim 1.5s infinite ease-in-out;
    background-color: #ff4136;
}


/* KEYFRAMES */

@-webkit-keyframes up_anim {
    25% {
        width: 10px;
    }
    50% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
        background-color: #FFDC00;
    }
    75% {
        width: 30px;
    }
}

@keyframes up_anim {
    25% {
        width: 10px;
    }
    50% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
        background-color: #FFDC00;
    }
    75% {
        width: 30px;
    }
}

@-webkit-keyframes down_anim {
    25% {
        width: 30px;
    }
    50% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
        background-color: #F012BE;
    }
    75% {
        width: 10px;
    }
}

@keyframes down_anim {
    25% {
        width: 30px;
    }
    50% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
        background-color: #F012BE;
    }
    75% {
        width: 10px;
    }
}


/* KEYFRAMES */


/* LOADER */

@media screen and (min-width:500px) {
    @-webkit-keyframes down_anim {}
    @keyframes down_anim {}
}
