/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* border-boxing */

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

.content {
    display: none;
}


/* Font Styling */

body {
    font-family: 'Scope One', serif;
    background-color: #85144b;
}
